/JAVA/Labs/Lab 6/Task 1/HelloWorld/nbproject/private/
/JAVA/Labs/Lab 6/Task 1/HelloWorld/dist/
/JAVA/Labs/Lab 6/Task 1/HelloWorld/build/
/JAVA/Labs/Lab 6/Task 2/ProofOfConcept/nbproject/private/
/JAVA/Labs/Lab 6/Task 2/ProofOfConcept/dist/
/JAVA/Labs/Lab 6/Task 2/ProofOfConcept/build/
/JAVA/Help CHM of JDK 6
/!!ARCHIVE

/English
*.mp4
*.pdf
*.ini
*.txt
*.docx
*.doc
*.xlsx
*.rar
*.pptx
/JAVA/Labs/Lab 6/Task 2/TextEditor/nbproject/private/
/JAVA/Labs/Lab 7/Task 1/TextEditor/nbproject/private/
/JAVA/Labs/Lab 7/Task 1/JavaFXApplication5/nbproject/private/
/JAVA/Labs/Lab 7/Task 1/TextEditor/dist/
/JAVA/Labs/Lab 7/Task 1/TextEditor/build/
/JAVA/Labs/Lab 7/Task 1/JavaFXApplication7/nbproject/private/
/JAVA/Labs/Lab 7/Task 1/JavaFXApplication7/build